// Fuentes
$fuente_principal: 'Quicksand',
sans-serif;
// Tamaño de Media Queries
$tinyMovil: 350px;
$movil: 480px;
$tablet: 870px;
$oldDesktop: 1024px;
$desktop: 1140px;
// Colores
$negro: #000000;
$blanco: #ffffff;
$background: #e4a5a4;
$color_princ: #c13936;
$color_sec: #d98a88;
$tercer_color: #4a1f1f;
$cuarto_color: #f5e9e8;
$gris: #dddcdc;
$rojo: red;
$azul: #1336fcb3;
$negroTransparente: #000000CC;
$verde: rgb(22, 163, 33);
$naranja: rgb(255, 175, 101);
$amarillo: #f7e601;
$fondo_boton_gris: #f4f4f6;
$fondo_hover_boton_gris: #eae8ef;
$borde_boton_gris: #d5d0dd;
$border_focus_boton_gris: #bbaadd;
$blanco_humo: #faf5f5;
$separacion: 5rem;
// Fuentes
$delgada: 300;
$regular: 500;
$bold: 700;